html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
  color: white;
  font-family: "atyp-bl-variable", sans-serif;
  font-variation-settings: "ital" 0, "opsz" 6, "wght" 280;
  font-size: 16px;
}

.sections__container {
  height: 500vh;
}

.section__wrapper {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  overflow: hidden;
}


.section__image__wrapper {
  max-width: 1200px;
  max-height: 60vh;
}

.section__wrapper:not(:first-child), .section__wrapper:not(:first-child) .section__image__wrapper {
  clip-path: inset(100% 0% 0%);
}

.section__wrapper:nth-child(1) {
  background-color: #003265;
  z-index: 0;
}

.section__wrapper:nth-child(2) {
  background-color: #0C6BA8;
  z-index: 1;
}

.section__wrapper:nth-child(3) {
  background-color: #798E7B;
  z-index: 2;
}

.section__wrapper:nth-child(4) {
  background-color: #773B2D;
  z-index: 3;
}

.section__wrapper:nth-child(5) {
  background-color: #6B9065;
  z-index: 4;
}


.section__title {
  font-family: 'Druk Wide Bold', sans-serif;
  font-size: 55px;
  margin-bottom: 32px;
}

.section__description {
  margin-bottom: 56px;
  max-width: 600px;
  line-height: 150%;
}

.section__image {
  width: 100%;
  height: 100%;
}
